body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgb(214, 209, 209);
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.main-menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn.verde {
    background-color: #00796b;
    color: white;
}

.btn.negro {
    background-color: black;
    color: white;
}

.bloques {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.bloque {
    text-align: center;
    width: 30%;
}

.bloque img {
    width: 100%;
    border-radius: 10px;
}
